/* 
1. Posicionamiento
2. Modelo de caja (Box model)
3. Tipografia
4. Visuales
5. Otros 
*/
:root {
    /* colores */
    --bitcoin-orange:#F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #e7f5ff;
    --warm-black: #201E1C;
    --black:#282623;
    --grey: #BABABA;
    --off-white: #FAF8F7;
    --just-white: #fff;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
    scroll-behavior:smooth;                       /* para generar un scroll bastante chevere */
}
header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    align-items: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}
header img {
    width: 150px;
    height: 24px;
    margin-top: 40px;
    align-self: center;
}
.header--title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 50px;
}
.header--title-container h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem; /* dimesión entre lineas */
    color: var(--just-white);
}
.header--title-container p {
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}
.header--title-container .header--button {
    position: absolute;                         /* cuando estemos en position absolute podemos utilziar top,botton, left right para poder mover en */ 
    left: calc(50% - 118px);                        /* para calcular y poder centrar */
    top: 270px;                                    /* esa pocision mi contenerdor o elemento*/
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    /* sombra */
    box-shadow: 0px 4px 8px rgb(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}
.header--button span{
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url("../assets/iconos/down-arrow.svg");
}
main {
    width: 100%;
    min-width: 320px;
    height: auto;  /* el mismo contenido va definiendo la altura del main */
    background-color: var(--off-white);
}
.main-exchange-container {
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;   /* para dejar espacio en la parte de arriba y de abajo */
    text-align: center;
}
.main-exchange-container--title {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}
.main-exchange-container .backgroundImg {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url("../assets/imgs/Bitcoin.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;           /* hace que la imagen se estire sin que se rompa */
    /* animation-name: imgsBitcoin; */           /* manejo de animaciones */
    /* animation-duration: 20s;
    animation-delay: 7s;
    position: relative;
    animation-iteration-count: infinite; */
}
/* @keyframes imgsBitcoin {
    /* 0% {left: 0px;top:0px;}
    25% {left: 300px;top:0px;}
    50% {left: -300px;top:0px;} */
    /* 50% {background-color: var(--black);} */
    /* 75% {left: -1px;top: 0px;}
    100% {left: -1px;top:0px;} */
} */
.main-exchange-container h2 {
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}
.main-exchange-container p {
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;
}
.main-currency-table,
.main-commission-table {
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: "inter" sans-serif;
}
.main-currency-table .currency-table--title,
.main-commission-table .commission-table--title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;                   
    line-height: 2.3rem;                 
    color: var(--bitcoin-orange);
} 
.main-commission-table .commission-table--title {
    color: var(--secondary-blue);
    margin-top: 90px;
}

.currency-table--container,
.commission-table--container 
{
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}
.currency-table--container table,
.commission-table--container table {
    width: 100%;
    height: 100%;
}
.currency-table--container td,
.commission-table--container td {
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;                       /* grosor de la fuente */
    line-height: 1.9rem;                  /* alto de fuente */
    color: var(--grey);
    background-color: var(--just-white);
}
.currency-table--container .table__top-left,
.commission-table--container .table__top-left {
    border-radius: 15px 0 0 0;
}
.currency-table--container .table__top-right,
.commission-table--container .table__top-right {
    border-radius: 0 15px 0 0;
}
.currency-table--container .table__bottom-left,
.commission-table--container .table__top-right 
{
    border-radius: 0 0 0 15px;
}
.currency-table--container .table__bottom-right,
.commission-table--container .table__bottom-right {
    border-radius: 0 0 15 0px;
}
.currency-table--container .table__right,
.commission-table--container .table__right 
{
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;
}
.currency-table--container .down,
.currency-table--container .up
{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url("../assets/iconos/trending-down.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.currency-table--container .up {
    background-image: url("../assets/iconos/trending-up.svg");
}
.currency-table--date,
.commission-table--date
{
    width: 190px;
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;
    background-color: var(--soft-orange);
    border-radius: 8px;
}
.commission-table--date {
    background-color: var(--soft-blue);
}
.currency-table--date p,
.commission-table--date p {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.5rem;
    color: var(--warm-black);
}
.main-product-detail{
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    background-color: var(--warm-black);
    margin-top: 350px;
}
.product-detail--batata-logo {          
    position: absolute;                  /* absolute busca al contenedor padre en este caso relative */
    width: 40px;
    height: 25px;
    top: -10px;                              /* para posicionar la imagen como flotante entre dos secciones */
    left:calc(50% - 18px);                   /* mas calculos con css para que quede en el centro */
    background-image: url("../assets/iconos/batata.svg");
    background-repeat: no-repeat;
}
.product-detail--title {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}
.product-detail--title h2 {
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}
.product-detail--title p {
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}
.product-detail--card {
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    min-height: 150px;
    margin: 15px auto;
    padding: 15px;
    background-color: var(--black);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}
.product-detail--card span {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.icon-card-clock {
    background-image: url("../assets/iconos/clock.svg");    
}
.icon-card-eye {
    background-image: url("../assets/iconos/eye.svg");
}
.icon-card-dollar {
    background-image: url("../assets/iconos/dollar-sign.svg");
}
.icon-card-check {
    background-image: url("../assets/iconos/check-circle.svg");
}


.product--card-title {
    margin-bottom: 20px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white);
}
.product--card-body {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}
.bitcoin-img-container {
    width: 100%;
    min-width: 320px;
    height: 50vh;
    background-image: url("../assets/imgs/bitcoinbaby2x.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    animation:rotaImgBitcoin 10s linear infinite forwards;
}
.bitcoin-img-container h2 {
    padding-top: 60px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}
.main-plans-container {
    width: 100%;
    min-width: 320px;
    padding-bottom: 70px;
    text-align: center;
}
.plans--title {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 50px; 
}
.plans--title h2 {
    padding-top: 50px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}
.plans--title p {
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
}
/* scroll */
.plans-container--slider {
    display: flex;
    height: 316px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    margin: 0 20px; /* Márgen para complementar espaciado faltante en lados de slider */
}
.plans-container--card {
    position: relative;
    scroll-snap-align: center;
    width: 70%;
    min-width: 190px;
    max-width: 300px;
    height: 250px;
    margin: 50px 5px 0;   /* arriba - izq/der - abajo */
    padding: 0 15px;          /* para que el contenedor empiece a centrar a su contenido y tenga un borde */
    background-color: var(--just-white);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);   
}
.plans-container--card .recommended {
    position:absolute;
    width: 120px;
    height: 31px;
    padding: 6px;
    top: -15px;
    margin: 0;
    left: calc(50% - 60px);
    background-color: var(--bitcoin-orange);
    border-radius: 8px;
    color: var(--just-white);
}
.plan-card--title {
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--black);
}
.plan-card--price,
.plan-card--price1
 {
    position: relative;
    padding: 5px 0;
    font-size: 5.2rem;
    font-weight: bold;
    line-height: 5.3rem;
    color: var(--black);
}
.plan-card--price span,
.plan-card--price1 span {
    font-size: 1.2rem;
    font-weight: 300;
    margin-top: 5px;
    position: absolute;
    top: -18px;
    left: 0;
    right: 0;            
    transform: translate(-40px);
    margin-bottom: 2px;
}
.plan-card--price1 span {
    transform: translate(-50px);
}
.plan-card--saving {
    font-size: 1.2rem;
    color: #757575;
}
.plan-card--ca {
    width: 150px;
    height: 48px;
    margin-top: 20px;
    background-color: #FAF8F7;
    border: 2px solid var(--bitcoin-orange);
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--black);
    font-family: 'DM Sans', sans-serif;
}
.plan-card--ca span {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("../assets/iconos/orange-right-arrow.svg");
    vertical-align: text-bottom;
}
footer {
    display: flex;
    width: 100%;
    height: 150px;
    background-color: var(--bitcoin-orange);
}
footer section {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .left ul {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    list-style: none;
}
.left li {
    margin: 10px 0;
}
.left a {
    text-decoration: none;
    color: var(--just-white);
}
.footer__left a:hover {
    text-decoration: underline;
}